@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.hero, .header {
  background: #1F2937;
}

.hero-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}

.item {
  margin: 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
}